<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>IIT BHU Portal</title>

<link rel="stylesheet" href="../static/login.css" type="text/css" />
<link rel="stylesheet" href="../static/styles_login.css" type="text/css" />

<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

</head>
<body>
<div id="container">

    <header> 

	<div class="clear"></div>
       
    </header>


    <div id="intro">

		<div class="width">
      
			<div class="intro-content">
	
                    <h2>IIT BHU Academic Portal </h2>
                                  	                    

            	</div>
                
            </div>
            

	</div>
	<form action="login.html" class="login" method='POST'>
		<h1>IIT BHU Portal</h1>
		<input type="email" name="email" class="login-input" placeholder="Email Address" autofocus required='required'>
		<input type="password" name="password" class="login-input" placeholder="Password" required='required'>
		<input type="submit" value="Login" class="login-submit">
		<p class="login-help"><a href="login.html">Forgot password?</a></p> <br>
		<p class='login-help'> New User ? Sign Up Now -- <a href='login.html'> Faculty </a> or <a href='login.html'> Student </a> </p>
    </form>

</div>
</body>
</html>