<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>IIT BHU Portal</title>

<link rel="stylesheet" href="../static/post_reg.css" type="text/css" />
<link rel="stylesheet" href="../static/styles_post_reg.css" type="text/css" />

<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

</head>
<body>
<div id="container">

    <header> 

	<div class="clear"></div>
       
    </header>


    <div id="intro">

		<div class="width">
      
			<div class="intro-content">
	
                    <h2>IIT BHU Academic Portal </h2>
                                  	                    

            	</div>
                
            </div>
            

	</div>
	<div class='login'>
	<p style='color:black'>
		You have successfully completed your registration. Thank You.
    </p>
	<br>
		<form action='/' method='POST'>
			<input type='submit' class='dropdown' value='Go back to Main Page'/>
		</form> 	
	</div>

</div>
</body>
</html>